<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="DatabaseConnectionString" connectionString="Data Source=ACAMS-B-055\SQLEXPRESS;Initial Catalog=SCADA;Integrated Security=True"
			providerName="System.Data.SqlClient" />
		<add name="TempMonitor.Properties.Settings.LabConnectionString"
			connectionString="Data Source=ACAMS-B-055\SQLEXPRESS;Initial Catalog=SCADA;User ID=Labuser;Password=Databaselab2022"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>