<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="DatabaseConnectionString" connectionString="Data Source={{ data_source }}\SQLEXPRESS;Initial Catalog=SCADA;Integrated Security=True"
			providerName="System.Data.SqlClient" />
		<add name="TempMonitor.Properties.Settings.LabConnectionString"
			connectionString="Data Source={{ data_source }}\SQLEXPRESS;Initial Catalog=Lab;User ID={{ db_user }};Password={{ db_password }}"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>